= simple_form_for(@order,
                  url: orders_path,
                  html: { role: 'form'} ) do |f|
  %h3= t('orders.new.title')
  = render partial: 'layouts/form_errors', locals: { record: @order }
  .form-group.string.optional
    %label.string.optional.control-label= t('orders.new.label')
    = order_type_picker :order_type_id, value: @order.order_type_id
  = render partial: 'form_fields', locals: { f: f }
:coffee
  $('.order_type-picker').change ->
    $.ajax 'new',
      type: 'GET'
      dataType: 'html'
      data: {
        order_type_id: $('.order_type-picker').val()
        partial_name: "new_form"}
      success: (data, textStatus, jqXHR) ->
            $('.new_order').html(data)
            eval($('.new_order script').text())

  Application.enableDateTimePicker(true)
  Application.enableOrderTypePicker(false)
