.row
  .col-xs-12
    .orders-filter-container(role="tabpanel")
      %ul.nav.nav-tabs(role="tablist")
        %li.active(role="presentation")
          %a(role="tab" aria-controls="filter" href="#filter" data-toggle="tab")
            = t('.filter_records')
        %li(role="presentation")
          %a(role="tab" aria-controls="search" href="#search" data-toggle="tab")
            = t('.search_for_record')
      .tab-content
        #search.tab-pane(role="tabpanel")
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              .col-xs-6.col-sm-6.col-md-4.col-lg-4
                = render partial: 'search_by', locals: { field: :code, field_value: '', path: search_order_by_path(:code) }
              .col-xs-6.col-sm-6.col-md-4.col-lg-4
                = render partial: 'search_by', locals: { field: :ext_code, field_value: '', path: search_order_by_path(:ext_code) }
        #filter.tab-pane.active(role="tabpanel")
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
              = render partial: 'filter_by'
