- content_for(:title, t('.title'))
%h2= t('.title')
= render partial: 'search_form'

- with_custom_profile = list_filter.filter_values[:order_type_id].present?

.row
  .col-xs-12
    - if @orders.present?
      .table-responsive.table-nowrap.overflow-visible.orders-list
        = react_component('OrderList', {orders: prepare_order_list(@orders),
                                        profile: with_custom_profile ? custom_profile(@orders.first.order_type) : common_profile,
                                        with_custom_profile: with_custom_profile})
    - else
      %h4.empty-list= t('.no_orders_found')
= link_to t('add'), new_order_path, class: 'btn btn-primary'
