- content_for(:title, t('.title'))
%h2= t('.title')
= render partial: 'search_form'
.row
  .col-xs-12
    - if @orders.present?
      .table-responsive.orders-list
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th= Order.human_attribute_name(:code)
              %th= Order.human_attribute_name(:order_type_code)
              %th= Order.human_attribute_name(:state)
              %th= Order.human_attribute_name(:created_at)
              %th= Order.human_attribute_name(:user)
              %th{title: Order.human_attribute_name(:ext_code)}= t('.ext_code')
              %th{title: Order.human_attribute_name(:archived)}= t('.archived')
          %tbody
            - @orders.each do |order|
              = render order
    - else
      %h4.empty-list= t('.no_orders_found')
= link_to t('add'), new_order_path, class: 'btn btn-primary'
