<% use_sso_only = Rails.application.config.app[:SSO].fetch(:enabled) && !Rails.application.config.app[:SSO].fetch(:use_regular_login) %>
<% content_for(:title, t('.title')) %>
<div class="authform">
  <%- if @greeting.present?%>
    <div class="greeting alert" role="alert"><h4><p class="greeting-text text-center"><%= @greeting.html_safe %></p></h4></div>
  <% end -%>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3><%= t('.title') %></h3>
    <%= render partial: 'devise/shared/error_messages', resource: resource %>
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to t('.sign_up'), new_registration_path(resource_name), class: 'right'  %>
      <% end -%>
      <%= f.email_field :email, :autofocus => !use_sso_only, class: 'form-control floating-label', placeholder: User.human_attribute_name(:email), disabled: use_sso_only %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to t('.forgot_password'), new_password_path(resource_name), class: 'right', tabindex: 5 %>
      <% end -%>
      <%= f.password_field :password, class: 'form-control floating-label', placeholder: User.human_attribute_name(:password),  disabled: use_sso_only %>
    </div>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label class="custom_boolean checkbox">
            <%= f.check_box :remember_me, disabled: use_sso_only %>
            <span>
              <%= t('.remember_me') %>
            </span>
          </label>
        </div>
      <% end -%>
      <%- unless use_sso_only %>
        <div class="form-group">
          <%= f.submit t('.submit'), :class => 'btn btn-primary btn-block' %>
        </div>
      <% end %>
      <%- if Rails.application.config.app[:SSO].fetch(:enabled) %>
        <div class="form-group">
          <%= link_to t('.single_sign_on'), '/redirect_to_keycloak', type: 'button', class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
  <% end %>
</div>
