!!!
%html.hbw-styles
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : 'Homs'
    %meta{ name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'Homs'}"}
    = stylesheet_bundle_tag 'hbw'
    = stylesheet_bundle_tag 'application'
    = javascript_bundle_tag 'hbw'
    %link{href: '/assets/css/fontawesome.min.css', rel: 'stylesheet'}
    = javascript_bundle_tag 'application'
    = csrf_meta_tags
  %body
    :coffee
      I18n.locale = '#{I18n.locale}'
    %header
      = render 'layouts/navigation'
      = Rails.application.config.app.fetch(:announcement, '').to_s.html_safe

    %main.container(role="main")
      .container= yield

    :coffee
      Application.messenger.show(#{flash_messages.to_json.html_safe});
    - if hbw_available?
      #hbw-tasks
      :coffee
        window.HBWidget = new (modulejs.require('HBW'))(#{hbw_options.to_json.html_safe})
